---
import Button from './Button.astro'

interface Props {
  heading: string
  button?: {
    text: string
    link: string
    newtab?: boolean
  },
  headingClass?: string
}
---

<div class="flex flex-col items-center mx-auto my-16 gap-4 px-4">
  <p class:list={['heading-3', 'text-center', Astro.props.headingClass]}>{Astro.props.heading}</p>
  <p class="text-center text-charcoal text-lg max-w-2xl"><slot /></p>
  {
    Astro.props.button && (
      <Button link={Astro.props.button.link} newtab={Astro.props.button.newtab}>
        {Astro.props.button.text}
      </Button>
    )
  }
</div>
