---
---
<div class="font-light lg:bg-glow text-charcoal text-center text-md py-6 lg:pb-32 lg:pt-16">
  <div class="w-60vw mx-auto flex flex-col gap-2">
    <p class="mt-6 font-medium">© {new Date().getFullYear()} Wollongong Seventh-day Adventist Church</p>
    <div class="flex flex-col lg:flex-row justify-center gap-2 lg:gap-6">
      <a href="/">AUC Privacy Policy</a>
    </div>
  </div>
</div>