---
---
<div class="font-light bg-glow text-charcoal text-center text-md pb-32 pt-16">
  <div class="w-60vw mx-auto flex flex-col gap-2">
    <!-- <p>We acknowledge our God and Saviour Jesus Christ, the creator, provider and supreme owner of all things.</p>
    <p>We also acknowledge the Aboriginal and Torres Strait Islander people who are the traditional custodians of the land. We pay tribute to elders past and present and acknowledge that they have cared for this country over countless generations.</p> -->
    <p class="mt-6 font-medium">© {new Date().getFullYear()} Wollongong Seventh-day Adventist Church</p>
    <div class="flex flex-row justify-center gap-6">
      <a href="/">AUC Privacy Policy</a>
      <a href="/ministries/multimedia">About Multimedia</a>
    </div>
  </div>
</div>