---
import { Image } from 'astro:assets'
import IllawarraLogo from '../assets/logos/illawarra.svg'
import { getCollection } from 'astro:content'

const socialButtons = await getCollection('global_socialbuttons')
---

<footer class="font-light lg:bg-glow text-charcoal text-center text-md py-6 lg:pb-32 lg:pt-16">
  <div class="lg:w-60vw mx-auto flex flex-col gap-3">
    <Image src={IllawarraLogo} alt="Illawarra Logo" height="60" class="mx-auto my-6" />
    <div class="flex justify-center gap-4 text-xl">
      {
        socialButtons
          .sort((a, b) => (a.data.sort ?? 1) - (b.data.sort ?? 1))
          .map((button) => (
            <a href={button.data.link} class={'icons-' + button.data.class} aria-label={button.data.name} />
          ))
      }
    </div>
    <p class="font-medium">© {new Date().getFullYear()} Wollongong Seventh-day Adventist Church</p>
    <div class="flex flex-col lg:flex-row justify-center gap-2 lg:gap-6">
      <a href="https://sydney.adventist.org.au/privacy-policy/">AUC Privacy Policy</a>
    </div>
  </div>
</footer>
