---
import { Image } from 'astro:assets'
import IllawarraLogo from '../assets/logos/illawarra.svg'
---

<header>
  <Image src={IllawarraLogo} alt="Illawarra Logo" height={75} class="mx-auto my-6" />
  <div class="bg-glow h-60px flex items-center justify-center gap-20px text-18px font-medium text-charcoal">
    <a href="/" class="text-fire hover:text-charcoal-light transition">Home</a>
    <a href="/ministries" class="hover:text-charcoal-light transition">Ministries</a>
    <a href="/locations" class="hover:text-charcoal-light transition">Locations</a>
    <a href="https://wsda.link/egiving" class="hover:text-charcoal-light transition">eGiving</a>
    <a href="/contact" class="hover:text-charcoal-light transition">Contact</a>
  </div>
</header>

<style>
  img {
    display: block;
  }
</style>
