---
import { ASSET_URL } from '../constants'
import Button from '../components/Button.astro'
---

<div class="bg-charcoal h-75vh text-white flex justify-center items-center text-center relative overflow-hidden">
  <div class="relative z-30 my-auto">
    <img src="/images/landing.svg" alt="Landing" class="h-40 max-w-screen mx-auto px-4 animate-float" />
    <div class="flex flex-row justify-center gap-5 mt-14 flex-wrap">
      <Button link="/locations/wollongong">Wollongong</Button>
      <Button link="/locations/corrimal">Corrimal</Button>
      <Button link="/locations/southern-illawarra">Dapto</Button>
      <Button link="/locations/albion-park">Albion Park</Button>
    </div>
  </div>
  <video class="absolute z-10 w-auto min-w-full min-h-full max-w-none" autoplay loop muted>
    <source src={ASSET_URL('dcdab8c9-3931-4214-bb88-3c5a6efcd619')} type="video/webm" />
  </video>
  <div class="absolute z-20 w-auto min-w-full min-h-full max-w-none bg-charcoal opacity-90"></div>
</div>

<style>
  @keyframes float {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-float {
    animation: float 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    opacity: 0;
  }
</style>
