---
interface Props {
  backgroundUrl: string
  innerClass?: string
  outerClass?: string
}
---

<div class:list={['aspect-auto', 'bg-cover', 'bg-center', 'bg-fixed', 'mx-auto', 'container', Astro.props.outerClass]} style={{backgroundImage: `url(${Astro.props.backgroundUrl})`}}>
  <div class:list={['flex', 'flex-col', 'items-start', 'justify-center', 'px-6', 'py-24', 'gap-2', Astro.props.innerClass]}><slot /></div>
</div>
