---
interface Props {
  backgroundUrl: string
  innerClass?: string
  outerClass?: string
}
---

<div class:list={['aspect-auto', 'bg-cover', 'bg-center', 'bg-fixed', 'mx-10vw', 'h-96', ``, Astro.props.outerClass]} style={{backgroundImage: `url(${Astro.props.backgroundUrl})`}}>
  <div class:list={['flex', 'flex-col', 'items-start', 'justify-center', 'px-6', 'py-6', 'gap-2', 'h-full', Astro.props.innerClass]}><slot /></div>
</div>
