---
import Button from './Button.astro'

interface Props {
  heading: string
  buttons?: [
    {
      text: string
      link: string
      newtab?: boolean
    },
  ]
}
---

<div class="flex flex-col items-center mx-auto my-16 gap-4 px-4">
  <p class="heading-2 mb-4 text-center">{Astro.props.heading}</p>
  <p class="text-center text-charcoal text-lg font-400 max-w-2xl"><slot /></p>
  {
    Astro.props.buttons?.map((button) => (
      <Button class="mt-4" link={button.link} newtab={button.newtab}>
        {button.text}
      </Button>
    ))
  }
</div>
