---
import Button from './Button.astro'
import { ASSET_URL } from '../constants'

interface Props {
  heading: string
  buttons?: Array<{
    text: string
    link: string
    newtab?: boolean
  }>
}
---

<div class="flex flex-col items-start mx-auto my-16 px-24 h-156">
  <img src={ASSET_URL('b083e2f1-fd9b-4586-bf65-fcf52a8b9362.jpg')} class="self-end z-0 h-full aspect-auto w-70vw object-cover" />
  <div class="bg-glow px-20 py-24 ml-16 my-20 z-1 absolute max-w-4xl">
    <p class="heading-2 mb-4">{Astro.props.heading}</p>
    <p class="text-charcoal text-lg font-400 max-w-2xl"><slot /></p>
    <div class="pt-6 gap-2 flex flex-row">
      {
        Astro.props.buttons?.map((button) => (
          <Button link={button.link} newtab={button.newtab} >
            {button.text}
          </Button>
        ))
      }
    </div>
  </div>
</div>
