---
interface Props {
  text: string
  reference: string
}

const { text, reference } = Astro.props;
---
<div class="text-center bg-glow-darker px-12 py-12 mt-12">
  <p class="text-xl text-fire font-medium pb-4 max-w-2xl mx-auto">{text}</p>
  <p class="text-lg text-charcoal">{reference}</p>
</div>